doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://unpkg.com/buefy@0.5.1/lib/buefy.min.css")
    link(rel="icon" type="image/png" href="favicon.png")

  body
    #app
      //section.section: .container
        .notification
          .content: h1 Ingresar
          b-field(grouped)
            b-input(placeholder="Usuario" expanded)
            b-input(type="password" placeholder="Contrase単a" expanded)
            p.control
              button.button.is-primary(@click="login") Ingresar
      
      section.section: .container
        .notification: .content: h2 Clientes ({{clientes.length}})
        b-table(:narrowed="true",  :data="clientes")
          template(scope="cli")
            b-table-column(label="ID") {{cli.row.id}}
            b-table-column(label="Nombre") {{cli.row.nombre}}
            b-table-column(label="Telefono") {{cli.row.telefono}}
            b-table-column(label="Correo") {{cli.row.correo}}
            b-table-column(label="Balones") {{cli.row.balones}}
            b-table-column(label="Monto total") {{cli.row.monto}}
            b-table-column(label=""): b-tooltip(label="Eliminar"): button.button(@click="deleteClient(cli.row, cli.index)"): b-icon(icon="close")
            
      section.section: .container
        .notification
          .content
            h2 Vendedores ({{vendedores.length}})
            p Agregar nuevo vendedor
            b-field(grouped)
              b-input(placeholder="Usuario" expanded v-model="newSeller.usuario")
              b-input(type="password" placeholder="Contrase単a" expanded v-model="newSeller.contrasena")
              p.control
                button.button.is-primary(@click="addSeller()") A単adir

        b-table(:narrowed="true",  :data="vendedores")
          template(scope="ven")
            b-table-column(label="ID") {{ven.row.id}}
            b-table-column(label="Usuario") {{ven.row.usuario}}
            b-table-column(label="Contrase単a") {{ven.row.contrasena}}
            b-table-column(label="Adidas"): b-input(type="number"  v-model="ven.row.adidas")
            b-table-column(label="Reebok"): b-input(type="number" v-model="ven.row.reebok")
            b-table-column(label=""): b-tooltip(label="Guardar cambios"): button.button.is-primary(@click="saveSeller(ven.row.id, ven.row)"): b-icon(icon="save")
            b-table-column(label=""): b-tooltip(label="Eliminar"): button.button(@click="deleteSeller(ven.row, ven.index)"): b-icon(icon="close")
          
    footer.footer
      .container
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js")
    script(src="https://unpkg.com/buefy@0.5.1")

    script(src="app/app.js")
